<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
    }

    nav {
        background-color: #333;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;


    }

    nav .left {
        color: white;
        font-size: 24px;
        font-weight: bold;
    }

    nav .right {
        color: white;
        font-size: 18px;
        display: flex;
        flex-direction: row;

    }

    nav .right li {
        list-style: none;
        margin: 0 15px;
        cursor: pointer;
    }

    nav .right a {
        color: white;
        margin: 0 15px;
        text-decoration: none;
    }

    ;

    nav .right a:hover {
        text-decoration: underline;
    }

    .date-button {
        background-color: #1e88e5;
        /* Blue */
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 300px;
        justify-content: space-evenly;
    }

    .date-text {
        font-size: 18px;
    }

    .icon-btn {
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 18px;
    }

    .icon-btn.delete {
        color: #ff5252;
        /* red trash icon */
    }

    .icon-btn:hover {
        opacity: 0.8;
    }

    .main {
        padding: 20px;
        background-color: white;
        margin: 20px auto;
        width: 80%;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        height: 900px;
        line-height: 90px;
    }

    .form-container {
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 500px;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        border: none;
        border-radius: 8px;
        background: #eaeaea;
        font-size: 16px;
        color: #333;
        resize: both;
    }

    textarea {
        height: 200px;
    }

    
    #buttonn {
        background-color: #1e88e5;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 16px;
    }

    #buttonn:hover {
        background-color: #1565c0;
    }
</style>

<body>
    <nav>
        <div class="left">Khaatabook</div>
        <div class="right">
            <a href="/">Home</a>
            <a href="/create">Create new hisaab</a>
        </div>


    </nav>
    <div class="main">
        <h3>Create New Hisaab</h3>
        <form class="form-container" method="POST" action="/createhisaab">
            <input name="title" type="text" placeholder="Shopping ka hisaab, ghar ka kharch..." />
            <textarea name="content" id="details" placeholder="write your hisaab."></textarea>
            <input id="buttonn" type="submit" value="Create Hisaab" ></button>
        </form>
    </div>

    
</body>

</html>